
.acorn-shell {
  position: relative;
}

.acorn-shell-content {

}

/* abspos */

.acorn-overlay {
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
}

.acorn-overlay {
  pointer-events:none;
}

.acorn-thumb {
  position: relative;
  border: 1px solid #000000;
  width: 200px;
  height: 150px;
}

.acorn-thumb-content,
.acorn-thumb-content img {
  width: 100%;
  height: 100%;
}

.acorn-icon {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  padding: 5%;
}

img.acorn-icon  {
  height: 20%;
}

.acorn-icon.acorn-type {
/*  width: 25%;*/
/*  margin: 40% 30% 40% 30%;*/

  position: absolute;
  bottom: 10px;
  left: 10px;
}

.acorn-icon.acorn-mark {
/*  width: 100%;*/
/*  height: 100%;*/
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.acorn-shell {

}

.acorn-shell iframe {
  width: 100%;
  height: 100%;
}
