@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

html, body {
  margin: 0px;
  padding: 0px;
  background:transparent;
  overflow: hidden; /* tooltips can overflow */
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: Yanone Kaffeesatz;
}

.editabletext small {
  color: #00c;
  font-weight: bold;
}

.fader {
  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -ms-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
}

#acorn-player,
#acorn-player > #content {
  overflow: hidden;
}

#acorn-player,
#acorn-player > #content,
#acorn-player > #thumbnail,
#acorn-player > #edit,
#acorn-player > #edit > .content > #form,
#acorn-player > #thumbnail > img#image,
#acorn-player #acorn-multishell-playlist {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#acorn-player > #controls {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/* autohiding controls */
#acorn-player:not(.autohide-controls) > #content {
  bottom: 28px;
}

#acorn-player.autohide-controls > #content:hover + #controls {
  height: 0px;
}


#acorn-player {
  min-width: 100px;
  background: #000000;

  border: 1px solid #cccccc;

  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -ms-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
}

#acorn-player > #thumbnail {
  overflow: hidden;

  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -ms-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
}

#acorn-player > #thumbnail > #image {
  min-width: 100%;
  min-height: 100%;
}

#acorn-player > #thumbnail > .thumbnail-icon {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 7px;
  padding: 5%;
  width: 20%;

  position: absolute;
  bottom: 20px;
}

#acorn-player > #thumbnail > #logo.thumbnail-icon {
  right: 20px;
}

#acorn-player > #thumbnail > #type.thumbnail-icon {
  left: 20px;
}

#acorn-player > #content {
  overflow: hidden;
}

#acorn-player > #content > .acorn-shell {
  height: 100%;
  width: 100%;
}

#acorn-player > #content > .acorn-shell > .wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#acorn-player > #content > .acorn-shell > .wrapper > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

#acorn-player > #content > .acorn-multishell {
  height: 100%;
  width: 100%;
}

#acorn-player > #content > .acorn-multishell > .acorn-shell {
  height: 100%;
  width: 100%;
}

#acorn-player > #content > .acorn-multishell > .acorn-shell > .wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

#acorn-player > #content > .acorn-multishell > .acorn-shell > .wrapper > img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

#acorn-player > #content > .acorn-multishell > #acorn-multishell-playlist {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

#acorn-player > #content > .acorn-multishell > #acorn-multishell-playlist >
    .clear-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.00);
  z-index: 20;
}

#acorn-player > #content > .acorn-multishell > #acorn-multishell-playlist >
    .background {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 5px rgba(34, 25, 25, 0.4);
  z-index: 30;
}

#acorn-player > #content > .acorn-multishell > #acorn-multishell-playlist >
    .content {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  overflow: scroll;
  z-index: 40;
}

#acorn-player > #content > .acorn-multishell > #acorn-multishell-playlist >
    .content > #close {
  position: absolute;
  top: 0px;
  right: 0px;
}

#acorn-player > #controls {
  height: 28px;
  border-top: 1px solid #cccccc;

  background-color: #ffffff;
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);

  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -ms-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;

}

#acorn-player > #controls .control {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 28px;
}

#acorn-player > #controls .control[disabled=disabled] {
  pointer-events: none;
  opacity: 0.3;
}

#acorn-player > #controls .control:hover {
  margin-top: 2px;
}

#acorn-player > #controls .control:active {
  margin-top: 4px;
}

#acorn-player > #controls > #acorn-controls {
  float: right;
  width: 90px;
}

#acorn-player > #controls > #acorn-controls > .control {
  float: right;
  padding-right: 1px;
  border-left: 1px solid #ccc;
}

#acorn-player > #controls > #shell-controls > .control,
#acorn-player > #controls #subshell-controls > .control {
  float: left;
  padding-left: 1px;
  border-right: 1px solid #ccc;
}


#acorn-player > #controls #acorn.control {
  background: no-repeat url("/img/controls/acorn.png") 0px -2px;
}

#acorn-player > #controls #fullscreen.control {
  background: no-repeat url("/img/controls/acorn.png") -30px -2px;
}

#acorn-player > #controls #edit.control {
  background: no-repeat url("/img/controls/acorn.png") -90px -2px;
}

#acorn-player > #controls #left.control {
  background: no-repeat url("/img/controls/acorn.png") -150px -2px;
}

#acorn-player > #controls #right.control {
  background: no-repeat url("/img/controls/acorn.png") -120px -2px;
}

#acorn-player > #controls #list.control {
  background: no-repeat url("/img/controls/acorn.png") -180px -2px;
}

#acorn-player > #edit {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  min-width: 590px;
  z-index: 10;
}

#acorn-player > #edit > .clear-cover {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.00);
  z-index: 20;
}

#acorn-player > #edit > .background {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 5px rgba(34, 25, 25, 0.4);
  z-index: 30;
}

#acorn-player > #edit > .content {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 40;
}

#acorn-player > #edit > .content > #toolbar {
  position: relative;
  width: 558px;
  height: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  margin-left: 0px;
}

#acorn-player > #edit > .content > #toolbar > * {
  position: absolute;
  width: 50%;
  height: 100%;
}

#acorn-player > #edit > .content > #toolbar > h1 {
  left: 0px;
}

#acorn-player > #edit > .content > #toolbar > #actions {
  right: 0px;
  height: 35px;
  text-align: right;
  padding-top:5px;
}

#acorn-player > #edit > .content > #toolbar > #actions > #save-click-capture {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 70px;
  height: 35px;
}

#acorn-player > #edit > .content > #form {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 56px;
  padding: 10px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit,
#acorn-player > #content .acorn-shell-summary {
  position: relative;
  display: block;
  min-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit.selected,
#acorn-player > #content .acorn-shell-summary.selected {
  background-color: #dff0d8;
}

#acorn-player > #edit > .content > #form > .acorn-shell-edit {
  width: 538px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div {
  min-height: 80px;
  margin-bottom: 20px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div > #thumbnail,
#acorn-player > #content .acorn-shell-summary #thumbnail {
  position: absolute;
  left: 0px;

  width: 100px;
  height: 80px;
  border: 1px solid #ccc;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div
    div.thumbnailside,
#acorn-player > #content .acorn-shell-summary div.thumbnailside {
  position: absolute;
  right: 0px;
  left: 100px;

  margin-left: 15px;
  height: 80px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside {
  width: 423px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside #link-field {
  height: 28px;
  margin-bottom: 9px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside input#link {
  position: absolute;
  width: 269px;
  right: 144px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside button#delete {
  position: absolute;
  width: 58px;
  right: 81px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside button#duplicate {
  position: absolute;
  width: 76px;
  right: 0px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside input.time {
  width: 50px;
  margin-left: -4px;
  margin-right: 5px;
  text-align: center;
}
#acorn-player > #edit .acorn-shell-edit .thumbnailside div.loop.hidden {
  display: none;
}

#acorn-player > #edit .acorn-shell-edit .thumbnailside div.loop-none span,
#acorn-player > #edit .acorn-shell-edit .thumbnailside div.loop-infinity span,
#acorn-player > #edit .acorn-shell-edit .thumbnailside div.loop-n input {
  width: 30px;
  margin-left: -4px;
  margin-right: 5px;
  text-align: center;
}

#acorn-player > #edit .acorn-shell-edit .thumbnailside div.loop-none span,
#acorn-player > #edit .acorn-shell-edit .thumbnailside div.loop-infinity span {
  background-color: #F4F4F4;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside.right {
  position: absolute;
  right: 0px;
  margin-top: 5px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside #slider-block {
  position: relative;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside #slider {
  margin: 10px 7px 10px 0px;
  width: 355px;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside #time {
  position: absolute;
  left: 365px;
  top: -6px;
  width: 46px;
  height: 18px;
  padding: 3px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 white;
  text-align: center;
  vertical-align: middle;
  background-color: #EEE;
  border: 1px solid #CCC;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside > form > .control-group.time {
  display: inline-block;
}

#acorn-player > #edit > .content > #form .acorn-shell-edit > div >
    div.thumbnailside .input-prepend:first-child .add-on {
  margin-left: 0px;
}

#acorn-player .ui-slider-handle {
  width: 0.8em;
  margin-left: 0px;
}

#acorn-player > #edit > .content > #form > .acorn-shell-edit > button#add {
  display: block;
  margin: 10px auto 30px;
  padding: 5px;
  width: 378px;
}

/* jquery ui hacks to match boostrap */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {

  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

}

.ui-slider .ui-slider-range {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);

  opacity: 0.4;
}
