[submodule "js/src/common"]
	path = js/src/common
	url = git@github.com:athenalabs/common-js.git
[submodule "lib/closure/library"]
	path = lib/closure/library
	url = https://github.com/jarib/google-closure-library.git
