[submodule "js/src/common"]
	path = js/src/common
	url = git@github.com:athenalabs/common-js.git
[submodule "js/libs/closure"]
	path = js/libs/closure
	url = https://github.com/jarib/google-closure-library
