
.acorn-player > .player-view {
  text-align: left;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: auto;
}

/* center the content inside the player (some isn't full-width) */
.acorn-player > div[class*="row"] > div,
.acorn-player > div[class*="row"] > div:first-child {
  margin: 0 auto;
  float:none;
}

.acorn-player .splash-view {
  position: relative;
  text-align: center;
}

.acorn-player .splash-view > .splash-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.acorn-player .splash-view > .splash-icon {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 15px;
  width: 50px;
  position: absolute;
  bottom: 20px;
}

.acorn-player .splash-view > #logo.splash-icon {
  float: right;
  right: 20px;
}

.acorn-player .splash-view > #type.splash-icon {
  float: left;
  left: 20px;
}

.acorn-player .editor-view {
  padding: 20px;
  min-width: 540px;
}

.acorn-player .editor-view > * {
  margin-top: 20px;
  margin-bottom: 20px;
}

.acorn-player .acorn-options-view input {
  width: 100%;
}

.acorn-player .editor-view > .toolbar-view {
  text-align: right;
  width: 100%;
}

.acorn-player .editor-view > .toolbar-view > * {
  min-width: 120px;
}

.acorn-player .toolbar-view > * {
  margin-left: 10px;
}

.acorn-player .thumbnail-view {
  display: inline-cell;
  width: 74px;
  height: 74px;
}

.acorn-player .thumbnail-view > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.acorn-player .dropdown-view {
  position: relative;
}

.acorn-player .dropdown-view > .dropdown-toggle {
  text-align: left;
  width: 100%;
}

.acorn-player .dropdown-view > .dropdown-toggle > .caret {
  float: right;
}

.acorn-player .dropdown-view > .dropdown-menu {
  width: 100%;
}

.acorn-player .remixer-view > div > .dropdown-view > .dropdown-toggle > .caret {
  float: none;
}

.acorn-player .remixer-view > .input-prepend > input {
}

/* bootstrap fixes */

.acorn-player select,
.acorn-player textarea,
.acorn-player input {
  height: auto;
}

.acorn-player .controls-view {
  height: 28px;

  border-top: 1px solid #cccccc;
  background-color: #ffffff;
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);

  -webkit-transition: 0.35s ease;
  -moz-transition: 0.35s ease;
  -ms-transition: 0.35s ease;
  -o-transition: 0.35s ease;
  transition: 0.35s ease;
}

.acorn-player .controls-subview {
  height: 100%;
}

.acorn-player .acorn-controls-view {
  float: right;
  width: 120px;
}

.acorn-player .overlay-view {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.00);
  z-index: 10;
}

.acorn-player .overlay-view > .background {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 5px rgba(34, 25, 25, 0.4);
}

.acorn-player .overlay-view > .background > .content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.acorn-player .overlay-view > .background > .content > .header {
  position: relative;
  width: 538px;
  height: 40px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px 0px 10px;
}

.acorn-player .overlay-view > .background > .content > .header > * {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0px;
}

.acorn-player .overlay-view > .background > .content > .header > .actions {
  height: 35px;
  text-align: right;
  padding-top: 5px;
}
