
/* center the content inside the player (some isn't full-width) */
.acorn-player > div[class*="row"] > div,
.acorn-player > div[class*="row"] > div:first-child {
  margin: 0 auto;
  float:none;
}

.acorn-player .splash-view {
  position: relative;
  text-align: center;
}

.acorn-player .splash-view > .splash-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.acorn-player .splash-view > .splash-icon {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 15px;
  width: 50px;
  position: absolute;
  bottom: 20px;
}

.acorn-player .splash-view > #logo.splash-icon {
  float: right;
  right: 20px;
}

.acorn-player .splash-view > #type.splash-icon {
  float: left;
  left: 20px;
}

.acorn-player .editor-view {
  padding-top: 20px;
  padding-bottom: 20px;
}

.acorn-player .thumbnail-view {
  display: inline-cell;
  width: 80px;
  height: 80px;
}

.acorn-player .thumbnail-view > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.acorn-player .dropdown-view {
  position: relative;
}

.acorn-player .dropdown-view > .dropdown-toggle {
  text-align: left;
  width: 100%;
}

.acorn-player .dropdown-view > .dropdown-menu {
  width: 100%;
}
