.acorn-player .splash-view {
  position: relative;
  text-align: center;
}

.acorn-player .splash-view > .splash-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.acorn-player .splash-view > .splash-icon {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 15px;
  width: 50px;
  position: absolute;
  bottom: 20px;
}

.acorn-player .splash-view > #logo.splash-icon {
  float: right;
  right: 20px;
}

.acorn-player .splash-view > #type.splash-icon {
  float: left;
  left: 20px;
}
